<div class="nlck">
  <div class="tmzz"></div>
  <ul class="fei_list">
    <li class="clearfix"><span>账户管理费</span><em class="zhglf"></em></li>
    <li class="clearfix"><span>咨询服务费</span><em class="zxfwf"></em></li>
    <li class="clearfix"><span>撮合服务费</span><em class="chfwf"></em></li>
    <li class="clearfix"><span>信用风险评估</span><em class="xyfxpg"></em></li>
    <li class="clearfix list-li"><span>仲裁对接技术服务费</span><em class="zcdjjsfwf"></em></li>
  </ul>
  <p class="tp">服务费用和利率等级根据风险评级和借款期限综合评估</p>
  <ul class="list1">
    <li class="fix">
      <span>合同金额</span>
      <b class="htje_ts">?</b>
      <em class="contract"></em>
    </li>
    <ul>
      <li class="fix">
        <span>保障计划专款</span>
        <em class="bzjhzk"></em>
      </li>
      <li class="fix">
        <span>保险费</span>
        <em class="bxf"></em>
      </li>
      <li class="clearfix list-li2"><span>贷后信用管理费</span><em class="dhxyglf"></em></li>
      <li class="fix">
        <span>相关服务费</span>
        <b class="xgfwf_btn">?</b>
        <em class="xgfwf"></em>
      </li>
    </ul>
    <li class="fix">
      <label class="m"><i></i></label>
      <span>已查看并同意以上费用</span>
    </li>
    <li class="fix">
      <span>到账金额</span>
      <em class="dzje"></em>
    </li>
  </ul>

  <ul class="list2">
    <li class="fix">
      <span class="htlvtext">合同月利率</span>
      <em class="interest_rate"></em>
    </li>
    <li class="fix">
      <span class="dqhkeText">到期还款额</span>
      <em class="dqhke"></em>
    </li>
    <li class="fix">
      <span>借款期限</span>
      <em class="jkqx"></em>
    </li>
    <li class="fix">
      <span>预计还款日</span>
      <b class="hkr_ts">?</b>
      <em class="yjhkr"></em>
    </li>
    <li class="fix">
      <p class="bkts"></p>
      <b class="hkyh_ts">?</b>
    </li>
  </ul>
  <div class="check-purpose fix">
    <span>借款用途</span>
    <select class="" id="purposes" name="" dir="rtl">
      <option value="">选择本次借款用途</option>
    </select>
  </div>
  <p class="xy fix">
    <label class="m">
      <i></i>
    </label>
    <span>点击确认借款即表示您同意
      <a href="">《玖富叮当借款协议》</a>
    </span>
  </p>
  <div class="btn-con"><button>确认借款</button></div>
  <div class="maskbox_t"></div>
  <div class="loan_nodes">
    <span class="clos">关闭</span>
    <h5>尊敬的用户，您好：</h5>
    <div class="con_text">
      <p>
        玖富叮当已引入快速仲裁机制，请确保本人和紧急联系人电话填写正确，
        当您的借款发生逾期时，我们会先通过电话等方式提醒您及时还款；
        如果您仍未及时还款，仲裁机构可依据已签署的调解协议依法做出裁决，
        我们可依据此裁决直接向法院申请强制执行。如您拒不配合法院强制执行，
        法院还会将您列入最高法失信被执行人名单。当然，您一直保持信用良好，
        利率会越用越低，额度会越用越高，一定要珍惜您的信用哦！
      </p>
      <p>
        费用和利率等级根据风险定价模型综合评估，借款资金到个人银行卡后，
        每期按时还款。按期还款可以提高信用额度，额度可立即恢复，利率会越用越低。
        若您出现逾期的情况，可能会降低您的信用额度和芝麻分，
        情况严重时，仲裁机构可依据签署的《调解协议》作出裁决，
        我们会以此裁决向法院申请强制执行，如您拒不配合法院强制执行，
        法院还会将您列入最高法失信被执行人名单。
      </p>
    </div>

    <button>我已阅读并同意借款须知</button>
  </div>

</div>
